body{
    background: yellow;
}

table{
    border-collapse: collapse;
}

th{
    background: #a56363;
    color: #fff;
}

td{
    border: 1px solid #cccccc;
}

td,th {
    text-align: center;
    padding: 0.5em;
}

#morado{
    background: rgb(149, 82, 236)
}